#rename this file to .env and set relevant parameters

PROJECT_NAME="FastAPI Template"

#for local host
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=pastry_shop
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

TURNSTILE_SECRET_KEY= YOUR_TURNSTILE_SECRET_KEY

JWT_SECRET_KEY=change-me-to-a-random-secret-key-in-production
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=480
